{:deps {org.clojure/clojurescript {:mvn/version "1.10.520"}
        org.clojure/google-closure-library {:mvn/version "0.0-20190213-2033d5d9"}
        org.clojure/test.check {:mvn/version "0.10.0-alpha4"}
        com.cognitect/transit-cljs {:mvn/version "0.8.256"}
        com.cognitect/transit-js {:mvn/version "0.8.861"}
        fipp {:mvn/version "0.6.18"}
        malabarba/lazy-map {:mvn/version "1.3"}
        cljsjs/long {:mvn/version "3.0.3-1"}}}
