xcuserdata
.DS_Store
build/
lib/
.planck_history
planck-cljs/sandbox-m2
int-test/cache/*.js
int-test/cache/*.json
site/script/cache/*.js
site/script/cache/*.json
site/script/target
site/target
planck-cljs/tools.reader
planck-cljs/clojurescript
.idea
/planck-c/cmake-build-debug
/.planck_cache
.vagrant
build-envs/*/*-cloudimg-console.log
/compiler
/planck-cljs/jscomp.js
/planck-cljs/bundle.c
/planck-cljs/bundle_dict.c
.cpcache
.planck_cache
/planck-man/plk.1
