{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Intro" {:file "site/src/intro.md"}]
                   ["Setup" {:file "site/src/setup.md"}]
                   ["Running" {:file "site/src/running.md"}]
                   ["REPL" {:file "site/src/repl.md"}]
                   ["One Liners" {:file "site/src/one-liners.md"}]
                   ["Scripts" {:file "site/src/scripts.md"}]
                   ["Planck Namespaces" {:file "site/src/planck-namespaces.md"}]
                   ["Source Dev" {:file "site/src/source-dev.md"}]
                   ["Testing" {:file "site/src/testing.md"}]
                   ["Dependencies" {:file "site/src/dependencies.md"}]
                   ["Performance" {:file "site/src/performance.md"}]
                   ["Socket REPL" {:file "site/src/socket-repl.md"}]
                   ["IDEs" {:file "site/src/ides.md"}]
                   ["Internals" {:file "site/src/internals.md"}]
                   ["Contributing" {:file "site/src/contributing.md"}]
                   ["Legal" {:file "site/src/legal.md"}]]}
