{:cljdoc.doc/tree [["Readme" {:file "README.md"}]
                   ["Changelog" {:file "CHANGELOG.md"}]
                   ["Intro" {:file "doc/intro.md"}]
                   ["Setup" {:file "doc/setup.md"}]
                   ["Running" {:file "doc/running.md"}]
                   ["REPL" {:file "doc/repl.md"}]
                   ["One Liners" {:file "doc/one-liners.md"}]
                   ["Scripts" {:file "doc/scripts.md"}]
                   ["Planck Namespaces" {:file "doc/planck-namespaces.md"}]
                   ["Closure Library" {:file "doc/gcl.md"}]
                   ["Source Dev" {:file "doc/source-dev.md"}]
                   ["Testing" {:file "doc/testing.md"}]
                   ["Dependencies" {:file "doc/dependencies.md"}]
                   ["Performance" {:file "doc/performance.md"}]
                   ["Socket REPL" {:file "doc/socket-repl.md"}]
                   ["IDEs" {:file "doc/ides.md"}]
                   ["Internals" {:file "doc/internals.md"}]
                   ["Contributing" {:file "doc/contributing.md"}]
                   ["Legal" {:file "doc/legal.md"}]]}
