#!/usr/bin/make -f

DH_VERBOSE = 1

build: build-indep

build-indep: build-arch

build-arch:
	script/build-sandbox

binary: binary-indep

binary-indep: binary-arch

binary-arch:
	mkdir -p debian/tmp/usr/bin
	cp planck-c/build/planck debian/tmp/usr/bin
	cp planck-sh/plk debian/tmp/usr/bin
	mkdir debian/tmp/DEBIAN
	dpkg-gencontrol -pplanck
	dpkg --build debian/tmp ..

clean:
	BUILD_PPA=1 script/clean

.PHONY: binary binary-arch binary-indep clean
