name: Build and Test Planck

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build_macos:
    runs-on: macos-11

    steps:
      - uses: actions/checkout@v3.0.2

      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@9.4
        with:
          cli: latest

      - name: Build and Test Planck
        run: | 
          script/build -Werror --fast
          script/test

  build_ubuntu:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v3.0.2

      - uses: actions/setup-java@v3.4.1
        with:
          distribution: 'temurin'
          java-version: '8'

      - name: Install Clojure
        uses: DeLaGuardo/setup-clojure@9.4
        with:
          cli: latest

      - name: Install deps
        run: |
          sudo apt-get update
          sudo apt-get install -y libjavascriptcoregtk-4.0 libglib2.0-dev libzip-dev libcurl4-gnutls-dev libicu-dev unzip

      - name: Build and Test Planck
        run: | 
          script/build -Werror --fast
          script/test
